<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="./common/css/cmn_style.css">
    <link rel="stylesheet" href="./common/css/style.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="./common/js/vue.js"></script>
    <script src="./common/js/vue-resource.min.js"></script>
    <script src="./common/js/common.js"></script>
    <script src="./js/m-server.js"></script>
    <script type="text/javascript">
    </script>
</head>

<body>
    <hedder></hedder>
    <div class="main">
        <!-- {{title}} -->
        RPG VS
        <!-- <div class="div-battle">
            <table id="table_red">
                <tr>
                    <td id="td_r_1">
                    </td>
                    <td id="td_r_2">
                    </td>
                    <td id="td_r_2">
                    </td>
                </tr>
            </table>
            <table id="table_blue">
                <tr>
                    <td id="td_b_1">
                    </td>
                    <td id="td_b_2">
                    </td>
                    <td id="td_b_3">
                    </td>
                </tr>
            </table>
        </div> -->
        <!-- <div class="div-battle" id="battle">
            <table id="table_red">
                <tr>
                    <td v-for="r_hero in r_heros">
                        {{ r_hero.name }}
                    </td>
                </tr>
            </table>
            <table id="table_blue">
                <tr>
                    <td v-for="b_hero in b_heros">
                        {{ b_hero.name }}
                    </td>
                </tr>
            </table>
        </div> -->
        
        <div class="div-battle" id="battle">
            <!-- <table id="table_red">
                <tr>
                    <td><hero></hero></td>
                    <td><hero></hero></td>
                    <td><hero></hero></td>
                </tr>
            </table>
            <table id="table_blue">
                <tr>
                    <td><hero></hero></td>
                    <td><hero></hero></td>
                    <td><hero></hero></td>
                </tr>
            </table> -->

            <!-- <table id="table_red">
                <tr>
                    <td is="hero" name="ZZZZ"></td>
                    <td is="hero"></td>
                    <td is="hero"></td>
                </tr>
            </table>
            <table id="table_blue">
                <tr>
                    <td is="hero"></td>
                    <td is="hero"></td>
                    <td is="hero"></td>
                </tr>
            </table> -->

            <!-- <table id="table_red">
                <tr>
                    <td is="hero" v-for="r_hero in r_heros">{{r_hero.name}}</td>
                </tr>
            </table>
            <table id="table_blue">
                <tr>
                    <td is="hero" v-for="b_hero in b_heros">{{b_hero.name}}</td>
                </tr>
            </table> -->

            <table v-for="team in teams" :id="team.name">
                <tr>
                    <td v-for="hero in team.heros">
                        <div class="div-hero" :class="{active:hero.isActive}">
                            <p>{{hero.name}}</p>
                            <p>{{hero.hp}}</p>
                            <p>{{hero.mp}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer class="bs-docs-footer">
        <div>@Zhong Zhicong</div>
    </footer>
</body>

</html>
<script src="./js/index.js"></script>