<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="./common/css/cmn_style.css">
    <link rel="stylesheet" href="./common/css/style.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="./common/js/vue.js"></script>
    <script src="./common/js/vue-resource.min.js"></script>
    <script src="./common/js/common.js"></script>
    <script src="./js/game-util.js"></script>
    <script src="./js/game-main.js"></script>
    <script src="./js/m-server.js"></script>
    <script src="./js/heros.js"></script>
    <script src="./js/heros-init.js"></script>
</head>

<body>
    <hedder></hedder>
    <div class="main">
        RPG VS
        <div class="div-battle" id="battle">
            <table v-for="team in battle.teams" :id="team.name">
                <tr v-for="row in team.rows">
                    <td v-for="hero in row">
                        <div class="div-hero" v-if="hero!=null" :class="{active:hero.isActive}">
                            <p>{{hero.name}}</p>
                            <p>HP:  {{hero.hpNow}}/{{hero.hpMaxNow}}</p>
                            <p>MP:  {{hero.mpNow}}/{{hero.mpMaxNow}}</p>
                        </div>
                        <div class="div-hero" v-else>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="test" class="test-area">
        <button v-on:click='button1()'>{{button1_txt}}</button>
    </div>
    <footer class="bs-docs-footer">
        <div>@Zhong Zhicong</div>
    </footer>
</body>

</html>
<script src="./js/index.js"></script>
<script type="text/javascript">
    var test = new Vue({
        el: '#test',
        data: {
            button1_txt: '攻击模拟'
        },
        methods:{
            button1(){
                // console.log('attack start')

                //MOCK 免伤值获取
                // lvbu_reduce = vue_battle.battle.teams[0].heros[1].getReduceAllNow()
                // zhaoyun_reduce = vue_battle.battle.teams[1].heros[1].getReduceAllNow()

                // console.log(lvbu_reduce)
                // console.log(zhaoyun_reduce)

                // vue_battle.battle.teams[1].heros[1].hpNow = 2000
                // zhaoyun_reduce = vue_battle.battle.teams[1].heros[1].getReduceAllNow()
                // console.log(zhaoyun_reduce)


                attack(vue_battle.battle.teams[0].rows[0][1],vue_battle.battle.teams[1].rows[0][1],vue_battle.battle)
            }
        }
    })
</script>