<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="./common/css/cmn_style.css">
    <link rel="stylesheet" href="./common/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./common/js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>

<!--         <div id="vSpeed" v-for='speed in speeds'>
            <input type='text' v-model='speed'/>
            <p>{{ speed }}</p>
        </div> -->


        <input type='text' v-model='speeds[0]'/>
        <p>{{ speeds[0] }}</p>
        <input type='text' v-model='speeds[1]'/>
        <p>{{ speeds[1] }}</p>
        <input type='text' v-model='speeds[2]'/>
        <p>{{ speeds[2] }}</p>
        <input type='text' v-model='speeds[3]'/>
        <p>{{ speeds[3] }}</p>
        <input type='text' v-model='speeds[4]'/>
        <p>{{ speeds[4] }}</p>


        <button v-on:click='button1()'>{{ message }}</button>
        <br>
        <button v-on:click='button2()'>{{ message }}</button>
    </div>

    <!-- <button id="vButton3" v-on:click='button3()'>3</button> -->
</body>

    <script type="text/javascript">

    // speeds = [100,300,500]


    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            speeds : ['100','300','500','700','900']
            // speeds : [100,300,500,700,900]
            // speeds : []
        },
        methods:{
            button1:()=>{console.log(app.speeds)},
            button2:()=>{
                            console.log('abcd')
                            app.message = 'abc'
                        }
        }

    })

    // app.speeds =  [100,300,500]

    // app.speeds =  [200,400,600]

    // var vButton3 = new Vue({
    //     el: '#vButton3',
    //     methods:{
    //         button3:()=>{
    //                         console.log(app.speeds)
    //                         app.message = 'abc'
    //                     }
    //     }

    // })
   

    // new Vue({
    //     el: '#vSpeed',
    //     data: {
    //         speeds: speeds
    //     }
    // })
    // console.log(123);

    // button1  = ()=>{
    //     console.log(456)
    //     console.log(speeds);
    // }
    </script>

</html>
